<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="container col-md-8">
      <div class="card">
        <div class="card-header cus-font">
          Edit <%= resource_name.to_s.humanize %>
      </div>
      <div class="card-body">
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= f.error_notification %>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group md-3">
                <%= f.input :email,
                  required: true,
                  input_html: { autofocus: true, :class => "cus-label"  } %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group md-3">
                <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                  <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
                <% end %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group md-3">
                <%= f.input :password,
                  hint: "leave it blank if you don't want to change it",
                  required: false,
                  input_html: { autocomplete: "new-password", :class => "cus-label"  } %>
            </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group md-3">
                <%= f.input :password_confirmation,
                  required: false,
                  input_html: { autocomplete: "new-password", :class => "cus-label"  } %>
            </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group md-3">
      
                <%= f.input :current_password,
                  hint: "we need your current password to confirm your changes",
                  required: true,
                  input_html: { autocomplete: "current-password", :class => "cus-label"  } %>
            </div>
            </div>
          </div>      
          <div class="row">
            <div class="col-md-12">
              <div class="form-group md-3">
                <div class="form-actions">
                  <%= f.button :submit, "Update", class: "cus-btn" %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
        
        <h4>Cancel my account</h4>
        
        <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

        <%= link_to "Back", :back %>
      </div>
    </div>
  </div>
</div>
</br>