<div class="album py-5 bg-light">
  <div class="container">
    <div class="row">
      <div class="sortable">
        <% @chapter.contents.each_with_sortable_id do |content, sortable_id| %>
          <div id="<%= sortable_id %>" class="col-md-6">
            <div class="card border-secondary mb-3 cus-cont-box">
              <div class="card-body text-secondary cus-cont-scroll">
                <p class="card-text">Title: <%= content.title %></p>
                <% if content.content.present? %>
                  <p class="card-text">Content: <%= truncate(content.content.html_safe, :length => 230, :omission => "" , :escape => false) %></p>
                <% end %>
                <% if content.content_files.present? %>
                  <p class="card-text">Downloadable Content: <%= link_to content.content_files_identifier, download_path(content.id), :class => "btn-sm btn-outline-warning cus-btn"  %></p>
                <% end %>
                <%= simple_form_for content do |f| %>
                  <div class="d-flex justify-content-between align-items-center">
                    <label class="col-md-4 control-label">Chapter:</label>
                    <div class="col-md-8 mb-3">
                      <%= f.collection_select(:chapter_id, Chapter.all, :id, :title) %>
                    </div>
                  </div>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                    <%= f.submit "Change Chapter", class: "btn btn-sm btn-outline-warning cus-btn" %>
                    <%= link_to 'View More', content, :class => "btn btn-sm btn-outline-warning cus-btn" %>
                    <%= link_to 'Edit', edit_content_path(content), :class => "btn btn-sm btn-outline-warning cus-btn" %>
                    <%= link_to 'Delete', content_path(content), method: :delete, data: {confirm: "Are you sure you want to delete?"}, :class => "btn btn-sm btn-outline-warning cus-btn" %>
                  </div>                
                <% end %>
                </div>
                </div>
              </div>
            </div>
          <% end %>  
        </div>
       </div>
    </div>
  </div>
</div>