<div class="row">
  <div class="container col-md-12 cus-margin">
    <div class="card">
      <div class="card-header cus-font">
        <% if @chapter.id.present? %>
          Editing Chapter
        <% else %>
          New Chapter
        <% end %>
      </div>
      <div class="card-body">
        <%= simple_form_for @chapter do |f| %>
          <% if @chapter.errors.any? %>
            <div id="error_explanation">
              <ul>
                <% @chapter.errors.full_messages.each do |message| %>
                  <li class="font-error"><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
          <div cliass="col-md-12">
            <div class="form-group">
              <label class="col-md-2 control-label">Course:</label>
              <div class="col-md-10 mb-3">
                <% if @course.present? %>
                  <%= f.collection_select(:course_id, Course.all, :id, :name, {include_blank: false, :selected => @course.id}, {class: "form-control cus-form-font"}) %>
                <% else %>
                  <%= f.collection_select(:course_id, Course.all, :id, :name, {include_blank: false}, {class: "form-control cus-form-font"}) %>
                <% end %>
              </div>
            </div>    
            <div class="form-group">
              <label class="col-md-2 control-label">Title:</label>
              <div class="col-md-10 mb-3">
                <%= f.text_field :title, class: "form-control cus-form-font" %>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-2 pull-right">
                <%= f.submit "Save", class: "form-control cus-form-font btn btn-warning" %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>