<div class="album py-5 bg-light">
  <div class="container">
    <div class="row">
      <div class="sortable">
        <% @chapters.each_with_sortable_id do |chapter, sortable_id| %>
          <div id="<%= sortable_id %>" class="col-md-6">
            <div class="card border-secondary mb-3 cus-cont-box2">
              <div class="card-body text-secondary cus-cont-scroll">
                <div class="col-md-12 mb-3">
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <%= link_to 'View More', chapter, :class => "btn btn-sm btn-outline-warning cus-btn" %>
                      <%= link_to 'Edit', edit_chapter_path(chapter), :class => "btn btn-sm btn-outline-warning cus-btn" %>
                      <%= link_to 'Delete', chapter_path(chapter), method: :delete, data: {confirm: "Are you sure you want to delete?"}, :class => "btn btn-sm btn-outline-warning cus-btn" %>
                    </div>
                  </div>
                </div>
                <label class="col-md-3 control-label">Title:</label>
                <div class="col-md-9 mb-3">
                  <%= chapter.title %>
                </div>
                </div>
              </div>
            </div>
          <% end %>  
        </div>
       </div>
    </div>
  </div>
</div>