<table>
  <tbody id="sortable">  <!-- sortable target -->
    <% @chapters.each_with_sortable_id do |chapter, sortable_id| %>
      <tr id="<%= sortable_id %>">  <!-- Needs id tag on sorting elements -->
        <td><%= chapter.title %></td>
        <td><%= chapter.chap_order %></td>
        <td><%= link_to 'View More', chapter, :class => "btn btn-sm btn-outline-warning cus-btn" %></td>
        <td><%= link_to 'Edit', edit_chapter_path(chapter), :class => "btn btn-sm btn-outline-warning cus-btn" %></td>
        <td><%= link_to 'Delete', chapter_path(chapter), method: :delete, data: {confirm: "Are you sure you want to delete?"}, :class => "btn btn-sm btn-outline-warning cus-btn" %></td>
      </tr>
    <% end %>
  </tbody>
</table>